.grid {
    display: grid;
    grid-template:
        ' i ' / 1fr;
    border: solid 0px;
    text-align: center;
    /* Imposta la terza riga per occupare tutto lo spazio disponibile */
    grid-template-rows: auto;
    
    
}
.grid > div {
    margin-top: 7%;
    overflow: auto;
    border: 0px;
    padding: 2em 1em; 
}
.c1 {
    width: 90%;
    grid-area: i;   
    margin-top: 50%;
    margin-left: 3.5%;
    padding: 0;
}

.linea {
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
    width: 80%;
    margin-left: 10%;
}
#linea-grigia{
    width: 70%;
    margin-left: 16%;
}

.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    z-index: 9999;
}