.grid {
    display: grid;
    grid-template:
        ' i ' / 1fr;
    border: solid 0px;
    text-align: center;
    /* Imposta la terza riga per occupare tutto lo spazio disponibile */
    grid-template-rows: auto;
    
    top: 75px;
}

.grid > div {
    overflow: auto;
    border: 0px;
    padding: 2em 1em;
    margin-top: 7%; /* Move the grid up */
}

.c1 {
    width: 90%;
    grid-area: i;   
    margin-top: 0%;
    margin-left: 3.5%;
}
.c2{
    grid-area: s;
}

.linea {
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
    width: 80%;
    margin-left: 10%;
}
#linea-grigia{
    width: 70%;
    margin-left: 16%;
}

.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    margin-bottom: 0%;
    z-index: 9999;
}

table{
    border: 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

table td {
    width: 33%; /* Imposta larghezza uguale per tutte le colonne */
    text-align: left;
}

.immaginesx {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 40%;
    left: 0;
    margin-left: 100px;
    transition: transform 0.5s ease;
  }

  .immaginedx {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 40%;
    right: 0;
    margin-right: 100px;
    transition: transform 0.5s ease;
}



