.grid {
    display: grid;
    grid-template:
        ' i ' / 1fr;
    border: solid 0px;
    text-align: center;
    /* Imposta la terza riga per occupare tutto lo spazio disponibile */
    grid-template-rows: auto;
    
    top: 75px;
}

.grid > div {
    overflow: auto;
    border: 0px;
    padding: 2em 1em;
    margin-top: 7%; /* Move the grid up */
}

.c1 {
    background-image: url('../immagini/reg-overlay.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    grid-area: i;   
    margin-top: 0%;
    margin-left: 3.5%;
    margin-bottom: 2%;
}
.c2{
    grid-area: s;
}

.linea {
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
    width: 80%;
    margin-left: 10%;
}
#linea-grigia{
    width: 70%;
    margin-left: 16%;
}

.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    margin-bottom: 0%;
    z-index: 9999;
}

table{
    border: 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

table td {
    width: 33%; /* Imposta larghezza uguale per tutte le colonne */
    text-align: left;
}

.immaginesxU{
    width: 150px;
    height: 150px;
    position: fixed;
    top: 24%;
    left: 7.3%;
    margin-left: 100px;
    z-index:2;
  }
  .immaginesxD{
    width: 150px;
    height: 150px;
    position: fixed;
    top: 63%;
    left: 7.5%;
    margin-left: 100px;
    z-index:2;
  }

  .immaginedxU {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 24%;
    right: 7.3%;
    margin-right: 100px;
    z-index:2;
}
.immaginedxD {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 63%;
    right: 7.5%;
    margin-right: 100px;
    z-index:2;
}

.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
  }
  

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

input {
    border: 1px solid black;
    border-radius: 7px;
}
select{
    border: 1px solid black;
    border-radius: 7px;
}
.angolosx{
    position: fixed;
    top: 80px;
    left: 90px;
    height: 700px;
    z-index:1;
}
.angolodx{
    position: fixed;
    top: 80px;
    right: 90px;
    height: 700px;
    transform: scaleX(-1);
    z-index:1;
}
