.titolo {
    font-weight: 700;
    text-align: left;
    margin-left: 12%;
    margin-bottom: 1%;
}

.linea {
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
    width: 80%;
}

.input {
    margin-bottom: 0%;
    margin-left: 0%;
}
