.grid {
    display: grid;
    grid-template:
        ' i ' 
        ' s '/ 1fr;
    border: solid 0px;
    text-align: center;
    grid-template-rows: auto, auto;
    grid-template-columns: 1fr; 
    justify-items: center; 
    align-items: center;
    padding-top: 60px;
}

.overlay{
    background-color: rgba(72, 71, 71, 0.458);
    border-radius: 10px;
    padding: 5%;
    height: 1200px;
    width: 500px;
    margin-left: 4%;
    margin-right: 4%;
}

.c1 {
    background-color: #181818b9;
    background-image: url('../immagini/sfondo_accesso.jpg');
    background-size: contain;
    border-radius: 10px;
    grid-area: i;   
    margin-top: 6%;
    height: 550px;
    width: 500px;
    margin-left: 4%;
    margin-right: 4%;
    z-index:2;
    border: 2px solid black;
}

.c2{
    grid-area: s;
}

.titolo {
    font-weight: 700;
    text-align: left;
    margin-left: 12%;
    margin-bottom: 1%;
}

.input {
    margin-bottom: 0%;
    margin-left: 0%;
}

.fixed-bar-f {
    position: fixed;
    top: 0;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    margin-top: 20px;
    z-index: 9999;
}

.spazio{
    
    display: grid; 
    justify-content: center; 
    align-items: top; 
    height: 0vh; 
    width: 96vw;
    background-color: white; 
}

.logo_f{
    margin-top: -25px;
    height: 80px;
}

.label {
    display: block;
    color:white; 
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
}

input[type="text"], input[type="password"], input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #181818;
    border-radius: 5px;
}

.skate{
    width: 350px;
    position: fixed;
    right:0;
    bottom:0;
}

.skateF{
    width: 350px;
    position: fixed;
    left:0;
    bottom:0;
    transform: scaleX(-1);
}

.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.logo1{
    height: 80px; 
    margin-top:1.2%;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.basso_f{
    position: absolute;
    width: 1200px;
    top: 100px;
    right:50px;
    z-index:1;
    transform: scaleX(-1);
}
.btn.btn-outline-primary {
    color: #000000; 
    background-color: #ffffff; 
    border-color: #000;
}
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:active {
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000; 
}
.btn-check:checked + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary:focus{
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000;
}
.reg{
    margin-top: 0%;
    display: inline-block;
    font-size: small; 
    color: #ffffff;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
}

.linea1{
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-right: 15%;
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
    width: 70%;
    margin-left: 16%;
}

.linea2{
    color: rgb(255, 255, 255);
    margin-top: 0%;
    margin-right: 15%;
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
    width: 70%;
    margin-left: 16%;
}

.sotto_scritta{
    border-width: 3px;
    margin-bottom: 30px; 
    margin-top: 1px;
    opacity: 1;
    width: 100%;
}

.mess_err {
    font-size: small; 
    font-weight: 800;
    color: red;
    display: inline-block;
    font-size: small;
    margin-top: -9%;
    z-index: 9999;
}

@media screen and (max-width: 1024px) {
    .c1 {
        background-color: #181818b9;
        background-image: url('../immagini/sfondo_accesso.jpg');
        background-size: contain;
        border-radius: 10px;
        grid-area: i;   
        margin-top: 13%;
        height: 550px;
        width: 500px;
        margin-left: 4%;
        margin-right: 4%;
        z-index:2;
        border: 2px solid black;
    }
}
@media screen and (max-width: 508px) {
    .c1 {
        background-color: #181818b9;
        background-image: url('../immagini/sfondo_accesso.jpg');
        background-size: contain;
        border-radius: 10px;
        grid-area: i;   
        margin-top: 20%;
    
        height: 500px;
        width: 300px;
        z-index:2;
        border: 2px solid black;
    }
    .titolo_c1{
        padding: 3%;

    }
    .titolo_c1 h3, .titolo_c1 h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .overlay{
        background-color: rgba(72, 71, 71, 0.458);
        border-radius: 10px;
        padding: 5%;
        height: 600px;
        width: 300px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .basso.iphone{
        width: 800px;
        top: 580px;
        right:-170px;
    }
    .fixed-bar.iphone{
        margin-top: 5%;
    }
    .logo.iphone{
        position:fixed;
        height: auto;
        width: 40%; 
        top: -1%;
        right: 3%;
        margin-left: 0%;
        margin-top:3%;
    }
    .input.iphone{
        width: 80%;
        margin-top: -15%;
    }
    .label{
        margin-top: 1%;
    }
    .reg.iphone{
       margin-bottom: 5%;
    }
    .spazio{
        display: grid; 
        justify-content: right; 
        align-items: top; 
        height: 0vh; 
        width: 96vw;
        background-color: white; 
    }
    .logo_f{
        margin-top: -15px;
        height: 65px;
    }
}
