.grid {
    display: grid;
    grid-template:
        ' i '
        ' s '
        ' m '
        ' t ' 
        ' b '/ 1fr;
    border: solid 1px;
    text-align: center;
    /* Imposta la terza riga per occupare tutto lo spazio disponibile */
    grid-template-rows: auto;
}
.grid > div {
    overflow: auto;
    border: 0px;
    padding: 2em 1em; 
}
/* .c1 {
    grid-area: i;   
    margin-top: 74px;
    padding: 0;
    background-image: url('immagini/sfondo.jpg');
    backdrop-filter: blur(100px);
    background-size: cover;
    background-repeat: no-repeat;
} */

.c1 {
    grid-area: i;   
    margin-top: 74px;
    padding: 0;
    position: relative;
    background-image: url('immagini/sfondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    
    
}

.sfondo-trasparente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 89, 89, 0.5); /* Velo semi-trasparente */
}

.c2 {
    grid-area: s;
    width: 90%;
    margin: auto;
}

.c3{
    grid-area: m;
    width: 90%;
    margin: auto;
}
.c4{
    position: relative;
    grid-area: t;
    width: 100%;
    margin: auto;
}

.sfondo-trasparente-shop {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.5); /* Velo semi-trasparente */
}

.c5{
    grid-area: b;
}
.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #181818;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    z-index: 9999;
}

.content {
    margin-top: 50px; /* Altezza della barra di pulsanti */
    padding: 20px;
}
.carousel-inner img {
    width: 100%;
    height: auto;
    
    
}
.video{
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.copertina{
    width: 350px;   
}
#black{
    color: black;
}
.titolo{
    font-size: 20px;
}

/*Radio button*/
.btn.btn-outline-primary {
    color: #000000; 
    background-color: #ffffff; 
    border-color: #000;
}
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:active {
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000; 
}
.btn-check:checked + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary:focus{
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(26, 25, 25, 0.5); /* Velo semi-trasparente */
    color: #f1f0f6;
    padding: 20px;
    width: 500px;
    
    border-radius: 10px;
}

