.grid {
    display: grid;
    grid-template:
        ' i '
        ' s '
        ' m '
        ' t ' 
        ' b '/ 1fr;
    border: solid 0px;
    text-align: center;
    grid-template-rows: auto;
}

.grid > div {
    overflow: auto;
    border: 0px;
    padding: 2em 1em;
}

.c1 {
    grid-area: i;   
    margin-top: 0%;
    padding: 10px;
    position: relative;
    background-image: url('immagini/sfondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.sfondo-trasparente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 89, 89, 0.5); 
}


.c2 {
    grid-area: s;
    width: 90%;
    margin: auto;
}

.c3{
    grid-area: m;
    width: 90%;
    margin: auto;
}

.c4{
    position: relative;
    grid-area: t;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.sfondo-trasparente-shop {
    bottom: 3%;
    width: 100%;
    left:0;
    height: 65.5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.c5{
    grid-area: b;
}

.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #181818;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 100px;
    z-index: 9997;
    display: flex;
}

.content {
    margin-top: 50px;
    padding: 20px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    
    
}

.alert {
    position: fixed;
    width: 30%;
    height: 18%;
    z-index: 9999;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: solid black 2px;
    bottom: 45%;
    left: 35%;
}

.container_vid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.video {
  flex: 1;
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.copertina {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.overlay{
    filter:blur(5px)
}

.titolo {
  font-size: large;
  color: black;
}

.btn1{
    width: 100px;
    height: 50px;
    font-size: large;
}

.btn.btn-outline-primary {
    color: #000000; 
    background-color: #ffffff; 
    border-color: #000;
}
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:active {
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000; 
}
.btn-check:checked + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary:focus{
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000;
}

.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}
  
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.email{
    z-index: 9998;
    border-radius: 10px;
    width: 50%;
    height: 56%;
    background-color: #ffffff;
    border: 5px solid black;
    position: fixed;
    top: 25%;
    left: 25%;
}

.caption1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(26, 25, 25, 0.753); 
    color: #f1f0f6;
    padding: 1.5%;
    width: 32%;
    border-radius: 10px;
    height: 14%;
    font-size: 130%;
}

.scritta1{
    color: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    position: absolute;
    top: 27%;
    left:5%;
}

.lineshop{
    border-color: #333; 
    border-width: 3px; 
    margin-bottom: 5px; 
    margin-top: 1px; 
    opacity: 1; 
    margin-left: 5%; 
    width: 90%
}

.x{
    position:fixed; 
    right:25.5%; 
    bottom:67.5% ; 
    width:50px; 
    cursor: pointer;
}

.titemail{
    text-align: center; 
    margin-top: 3%
}

.messaggio{
    margin-left:1%;
    border:0.5px solid black; 
    border-radius:5px;
    WIDTH: 98%; 
    HEIGHT: 25vh;
}

.label{
    margin-left:1%
}

.avviso{
    margin-left:1%;
}

.binvia{
    margin-left:1%;
    margin-top:1%;
    border:2px solid black; 
    border-radius:5px
}

.caption2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    background-color: rgba(26, 25, 25, 0.753); 
    color: #f1f0f6;
    padding: 3%;
    width: 54%;
    height: 14%;
    border-radius: 10px;
    font-size: 130%;
}

.scritta2{
    color: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    position: absolute;
    top:27%;
    left:3%;
}

.caption3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    background-color: rgba(26, 25, 25, 0.753);
    color: #f1f0f6;
    padding: 1.5%;
    width: 35%;
    height: 15%;
    border-radius: 10px;
    font-size: 130%;
}

.scritta3{
    color: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    position: absolute;
    top:27%;
    left:4%;
}

.bshop{
    position: absolute; 
    z-index: 2;
    width: 100px;
    height: 50px;
    font-size:x-large;
}

.bdomanda{
    text-align: center; 
    margin-top: 3%
}

.Bemail{
    margin-bottom: 7%; 
    border-radius: 5px; 
}

.cont{
    text-align: left; 
    font-size: small; 
    color: rgb(255, 255, 255); 
}

.creatori{
    text-align: left; 
    font-size: small; 
    color: rgb(255, 255, 255);
}

.logo{
    height: 120%; 
    margin-top: -0.6%; 
    margin-right: auto;
}

.Bfix.baccedi{
    height: 50px;
}

.bprofilo{
    background-image: url(./immagini/account.jpg); 
    margin-left:35px; 
    height: 50px; 
    width: 50px; 
    background-size: cover; 
    background-position: center; 
    border-radius:100px;
}

.Bfix{
    margin-right: 5px;
}

.sent-message {
    position: absolute;
    top: 0;
    left: 1%;
    width: 98%;
    height: 97%;
    background-color: rgba(128, 128, 128, 0.5); 
    color: #000000;
    text-align: center;
    padding: 10px;
    z-index: 9999;
    border-radius: 1.5%;
}
  
.message-container {
    position: relative; 
}

.contieni_logout{
    background-color: #181818; 
    height: 55px; 
    width: 105px; 
    position: absolute; 
    margin-left: 89.5%; 
    margin-top: 100px; 
    border-radius: 10px;
    z-index: 9999; 
    display:none; 
    text-align:center; 
    border-top-left-radius:0; 
    border-top-right-radius:0; 
}

.logout{
    height: 45px; 
    width: 100px; 
    border:0px; 
    margin-top: 7%;
}

.contieni_username{
    height: 55px; 
    width: 105px; 
    position: absolute; 
    margin-right: -25px; 
    margin-top: 94px; 
    z-index: 9999; 
    text-align:center; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.scorrevole {
    margin-top: 1%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-top: 1px solid #000;   
    border-bottom: 1px solid #000;
    border-left: none;            
    border-right: none; 
    background-color: #f3f3f3;
    align-items: center;
}

.content_scorrevole {
    display: inline-block;
    white-space: nowrap;
    animation: scorri 10s linear infinite;
    align-items: center;
}

.testo_scorrevole {
    margin-top: 6px;
    display: inline-block;
    padding-right: 10%;
    padding-left: 5%;
    font-style: italic;
}

.mappe{
    margin-top: -100px;
    position: relative;
    display: none;
    margin-left:5%;
}






/*Utilizzo una regola CSS per definire l'animazione del blocco con il testo*/
@keyframes scorri {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-65%);
    }
}

/*IPAD PRO*/
@media screen and (max-width: 1300px) {
    .caption1{
        width: 30%;
    }
    .scritta1.ipad{
        font-size: 85%;
        left:11%
    }
    .caption2{
        width: 45%;
    }
    .scritta2.ipad{
        font-size: 80%;
        left:7%
    }
    .caption3{
        width: 31%;
    }
    .scritta3.ipad{
        font-size: 85%;
        left:8.5%;
    }
    .nomeUtente.ipad{
        margin-right: -0.9%
    }
	.sfondo-trasparente-shop {
        bottom: 3%;
        width: 100%;
        left:0;
        height: 60%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .email{
        width: 60%;
        left: 20%;
        height: 42%;
        overflow: hidden;
    }
    .x{
        right:21%; 
        bottom:70.5% ; 
    }
    .bprofilo{
        margin-left:25px; 
        margin-right: 10px;
    }
    .alert{
        height: 13% ;
    }
}

/*IPHONE XR*/
@media screen and (max-width: 650px) {
    .grid > div:nth-child(2) {
        padding: 1.5em 1em 0.3em 1em;
    }
    .grid > div:nth-child(3) {
        padding: 0em 1em;
    }
    .logo.iphone{
        height: 60%;
        margin-left: 0.3%;
    }
    .Bfix.iphone{
        height: 30px;
        width: 26.5%;
        font-size: xx-small;
        text-align: center;
    }
    .baccedi.Bfix.iphone{
        height: 30px;
        width: 25%;
        font-size: xx-small;
    }
    .bprofilo.iphone{
        height: 27px;
        width: 32px;
        margin-left: 18px;
    }
    .username.iphone{
        font-size: 12px;
        margin-right:8px;
    }
    .profilo.iphone{
        height: 20px;
        width: 20px;
    }
    .sfondo-trasparente-shop {
        bottom: 9%;
        width: 100%;
        left:0;
        height: 45% !important;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .video.fantasma{
        display: none;
    }
    .lineshop{
        margin-bottom: 35px;
    }
    .bshop.iphone{
        display: flex;
        align-items: center;
        width: 70px;
        height: 25px;
        font-size: medium;
        text-align: center;
        
    }
    .Bemail.iphone{
        display: flex;
        align-items: center;
        width: 60%;
        height: 30px;
        font-size: x-small;
        margin-bottom: 9%;
        
    }
    .cont.iphone{
        font-size: x-small;
    }
    .creatori.iphone{
        font-size: 10px;
        text-align: end;
        margin-bottom: -16px;
    }
    .logoB.iphone{
        display:none;
    }
    .caption1.iphone{
        height: 25%;
    }
    .scritta1.iphone{
        font-size: 50%;
        top:20%;
        left:3%;
    }
    .caption2.iphone{
        height: 25%;
    }
    .scritta2.iphone{
        font-size: 50%;
        top:13%;
        left:3%;
    }
    .caption3.iphone{
        height: 25%;
    }
    .scritta3.iphone{
        font-size: 50%;
        top:13%;
        left:3%;
    }
    .email.iphone{
        width: 80%;
        left: 10%;
        height: 51%;
        overflow: hidden;
    }
    .x.iphone{
        right: 12.5%;
        bottom:70% ;
        width:35px; 
    }
    .titemail.iphone{
        font-size: large;
        margin-top: 5%;
        
    }
    .avviso.iphone{
        margin-left:5%
    }
    .messaggio.iphone{
        width: 90%;
        margin-left: 5%
    }
    .label.iphone{
        margin-left: 5%;
    }
    .binvia.iphone{
        margin-left:5%;
    }
    .baccedi.iphone{
        height:5%;
        width: 15%;
    }
    .fixed-bar {
        height: 100px;
    }
    .contieni_logout{ 
        height: 35px; 
        width: 65px; 
    }
    .logout{
        height: 27px; 
        width:60px; 
        font-size: x-small;
    }
    .alert{
        width: 55%;
        height: 21%;
        border: solid black 2px;
        bottom: 43%;
        left: 25%; 
    }
    .contieni_username{
        height: 55px; 
        width: 105px; 
        position: absolute; 
        margin-right: -57px; 
        margin-top: 90px; 
        z-index: 9999; 
        text-align:center; 
    }
    .scorrevole {
        margin-top: -5%;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        border-top: 1px solid #000;   
        border-bottom: 1px solid #000;
        border-left: none;            
        border-right: none; 
        background-color: #f3f3f3;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .scorrevole {
        margin-top: -6%;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        border-top: 1px solid #000;   
        border-bottom: 1px solid #000;
        border-left: none;            
        border-right: none; 
        background-color: #f3f3f3;
        align-items: center;
    }
    .sfondo-trasparente-shop {
        bottom: 9%;
        width: 100%;
        left:0;
        height: 40% !important;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/*tra IPAD PRO e IPHONE XR*/
@media screen and (max-width: 800px) {
    .grid > div:nth-child(2) {
        padding: 1.5em 1em 0.3em 1em;
    }
    .grid > div:nth-child(3) {
        padding: 0em 1em;
    }
    .logo.iphone{
        height: 60%;
        margin-left: 0.3%;
    }
    .Bfix.iphone{
        height: 30px;
        width: 26.5%;
        font-size: xx-small;
        text-align: center;
    }
    .baccedi.Bfix.iphone{
        height: 30px;
        width: 25%;
        font-size: xx-small;
    }
    .bprofilo.iphone{
        height: 27px;
        width: 32px;
        margin-left: 18px;
    }
    .username.iphone{
        font-size: 12px;
        margin-right:8px;
    }
    .profilo.iphone{
        height: 20px;
        width: 20px;
    }
    .contieni_username{
        height: 55px; 
        width: 105px; 
        position: absolute; 
        margin-right: -55px; 
        margin-top: 85px; 
        z-index: 9999; 
        text-align:center; 
    }
    .sfondo-trasparente-shop {
        bottom: 7%;
        width: 100%;
        left:0;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .contieni_logout{ 
        height: 35px; 
        width: 65px; 
    }
    .logout{
        height: 27px; 
        width:60px; 
        font-size: x-small;
    }
}