.grid {
    display: grid;
    grid-template:
        ' i '
        ' s '
        ' m '
        ' t ' 
        ' b '/ 1fr;
    border: solid 1px;
    text-align: center;
    /* Imposta la terza riga per occupare tutto lo spazio disponibile */
    grid-template-rows: auto;
    
    
}
.grid > div {
    overflow: auto;
    border: 0px;
    padding: 2em 1em; 
}
.c1 {
    grid-area: i;   
    margin-top: 74px;
    padding: 0;
    background-image: url('immagini/sfondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.c2 {
    grid-area: s;
    width: 90%;
    margin: auto;
    
}

.c3{
    grid-area: m;
    width: 90%;
    margin: auto;
}
.c4{
    grid-area: t;
    width: 90%;
    margin: auto;
}
.c5{
    grid-area: b;
}
.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    z-index: 9999;
}

.content {
    margin-top: 50px; /* Altezza della barra di pulsanti */
    padding: 20px;
}
.carousel-inner img {
    width: 100%;
    height: auto;
}
.video{
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.copertina{
    width: 350px;   
}
#black{
    color: black;
}
.titolo{
    font-size: 20px;
}