.grid {
    display: grid;
    grid-template:
        ' i '
        ' s ' / 1fr;
    border: solid 0px;
    text-align: center;
    /* Imposta la terza riga per occupare tutto lo spazio disponibile */
    grid-template-rows: auto auto auto;
    
    
}

.grid > div {
    overflow: auto;
    border: 0px;
    padding: 2em 1em; 
}

.c1 {
    grid-area: s;
    width: 90%;
    margin: auto;
    
}

.video{
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.copertina{
    width: 350px;   
}
#black{
    color: black;
}
.titolo{
    font-size: 20px;
}

.linea {
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
}
#linea-grigia{
    width: 70%;
    margin-left: 16%;
}
.video{
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.copertina{
    width: 350px;   
}
#black{
    color: black;
}
.titolo{
    font-size: 20px;
    height: 60px;

}
.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    z-index: 9999;
}