.fixed-bar {
    position: fixed;
    top: 0;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 75px;
    z-index: 9999;
}

.linea {
    border-width: 3px;
    margin-bottom: 30px;
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    grid-row-gap: 50px;
    width: 100%;
    border: solid 0px;
    text-align: center;
}

@media screen and (max-width: 1025px) {
	.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.c1 {
    grid-column: 1 / -1;
    width: 90%;
    margin: auto;
    
}

.articolo {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}
.marca {
    color: gray;
    font-size: small;
}
.nome {
    color: black;
    font-size: medium;
}
.prezzo {
    color: black;
    font-size: large;
}
.immagine {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.immagine img {
    position: relative;
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: none;
    transition: transform 0.3s;
}
.immagine:hover img {
    /* width: 100%;
    height: 100%; */
    transform: scale(1.15);
}
.immagine img.default {
    display: block;
}
.pallini {
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.pallini div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
}
.pallini .sinistra.active,
.pallini .destra.active {
    background: black;
}
.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 12%;
    background: rgba(68, 68, 68, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    transition: opacity 0.0s;
    opacity: 0;
}
.immagine:hover .barra {
    opacity: 1;
}
.barra .Taglia {
    display: none;
}
.barra label {
    display: none;
}
.barra.clicked {
    justify-content: start;
}
.barra.clicked .Taglia {
    display: inline-block;
}
.barra.clicked label {
    display: inline-block;
    margin-left: 18%;
}

  
/* Stile per l'overlay del carrello */
.carrelloSopra {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
  
/* Stile per il contenuto del carrello */
.carrelloDentro {
    position: absolute;
    width: 30%;
    height: 85%;
    top: 11%;
    right: 1%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: auto;
}

@media screen and (max-width: 1025px) {
	.carrelloDentro {
        top: 10%;
        width: 60%;
    }
}
  
.articoloCarrello {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.articoloCarrello img {
    align-self: flex-start;
    width: 50%;
    height: auto;
    margin-right: 20px; /* Spazio a destra dell'immagine */
}

.Brimuovi-articolo {
    width: 50px; /* Dimensioni del bottone */
    height: 50px;
    border: none;
    background-image: url('../immagini/cestino.jpg');
    background-size: cover;
    font-size: 16px;
}

.messaggio_login {
    position: absolute;
    bottom: 26%;
    left: 1%;
    font-size: medium;
    color: red;
    z-index: 1000;
    display: none;
}

.messaggio_taglia {
    position: absolute;
    bottom: 26%;
    left: 1%;
    font-size: medium;
    color: red;
    z-index: 1000;
    display: none;
}
.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
  }
  

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#Bcarrello{
    background-image: url('../immagini/carrello.png');
    background-size: contain; 
    position: fixed; 
    z-index: 9999;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border:none;
    background-color: white;
}
.btn.btn-outline-primary {
    color: #000000; 
    background-color: #ffffff; 
    border-color: #000;
}

.btn.btn-outline-primary:hover {
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000; 
}



