.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.articolo {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}
.marca {
    color: gray;
    font-size: small;
}
.nome {
    color: black;
    font-size: medium;
}
.prezzo {
    color: black;
    font-size: large;
}
.immagine {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.immagine img {
    position: relative;
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: none;
    transition: transform 0.3s;
}
.immagine:hover img {
    width: 100%;
    height: 100%;
}
.immagine img.default {
    display: block;
}
.pallini {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.pallini div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
}
.pallini .sinistra.active,
.pallini .destra.active {
    background: black;
}
.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 12%;
    background: rgba(68, 68, 68, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    transition: opacity 0.0s;
    opacity: 0;
}
.immagine:hover .barra {
    opacity: 1;
}
.barra .Taglia {
    display: none;
}
.barra label {
    display: none;
}
.barra.clicked {
    justify-content: start;
}
.barra.clicked .Taglia {
    display: inline-block;
}
.barra.clicked label {
    display: inline-block;
    margin-left: 18%;
}



